/* Import Google Font */
body {
  background-image: url("./assets/graphics/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styling */
.header {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin: 0;
}

/* Navbar Styling */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #81d8d0;
}

/* Active link styling */
.active-link {
  color: #81d8d0;
  font-weight: bold;
  border-bottom: 2px solid #81d8d0;
}

/* General Content Styling */
.content {
  padding: 40px 20px;
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

/* About Page Image Styling */
.about-image {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* About and Resume Container Styling */
.about-container,
.resume-container {
  padding: 40px 70px;
}

.about-card,
.resume-card {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  font-weight: bold;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto;
}

.about-card:hover,
.resume-card:hover {
  transform: scale(1.01);
}

/* Resume Specific Styling */
.resume-content {
  text-align: left;
  font-size: 1.2rem;
}

.resume-content ul {
  list-style-type: none;
  padding-left: 0;
}

.resume-content ul li {
  margin-bottom: 10px;
}

.resume-content strong {
  font-weight: bold;
}

/* Projects Page Styling */
.projects-page {
  padding: 40px 20px;
}

.skills-container {
  margin-bottom: 40px;
}

.skills-card,
.project-card {
  margin-bottom: 20px;
}

/* Skills Card Styling */
.skills-card {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  font-weight: bold;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.skill-item span {
  margin-left: 10px;
}

.skill-item svg {
  font-size: 2rem;
  color: #81d8d0;
}

.skill-item:hover svg {
  color: #007a74;
}

/* Projects Container and Card Styling */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.project-gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1.2rem;
}

/* Project Icons Styling */
.project-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-icon svg {
  font-size: 2rem;
  color: #81d8d0;
}

.project-icon:hover svg {
  color: #007a74;
}

/* Project Links Styling */
.project-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-links a {
  color: #81d8d0; /* Link color */
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.project-links a svg {
  margin-right: 5px; /* Add some space between the icon and text */
}

.project-links a:hover {
  color: #007a74;
}

/* About Page Image Styling */
.about-image {
  margin-top: 20px; /* Add some space between the text and image */
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Limit the maximum width of the image */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Download Resume Button Styling */
.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #81d8d0;
  color: #007a74;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
  background-color: #007a74;
  color: white;
  border-color: #81d8d0;
}

.download-resume {
  margin-top: 20px;
  text-align: center;
}

/* Contact Card Styling */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-card {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  font-weight: bold;
  padding: 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Increase the max-width to make the form wider */
  width: 100%; /* Ensure the form takes up the full width available */
  margin: 0 auto;
}

.contact-card h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px; /* Add a bit more space between the label and input */
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px; /* Increase padding for a more substantial input field */
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #ccc;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 15px; /* Increase padding for the button */
  font-size: 1.2rem;
  background-color: #81d8d0;
  color: #007a74;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #007a74;
  color: white;
}

/* Error Text Styling */
.error-text {
  color: #ff4d4d; /* A red color to highlight errors */
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Footer Styling */
.footer {
  background-color: rgba(170, 148, 127, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer .social-links a {
  color: white;
  font-size: 2rem; /* Adjust size as needed */
  transition: color 0.3s ease;
}

.footer .social-links a:hover {
  color: #81d8d0; /* Color change on hover */
}

.footer p {
  margin-top: 10px;
  font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .content {
    padding: 20px;
  }

  .projects-container,
  .about-container,
  .contact-container,
  .skills-container,
  .resume-container {
    grid-template-columns: 1fr;
  }

  .form-inline-group {
    flex-direction: column;
  }

  .contact-card {
    max-width: 100%;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
